@model MVCProject.LecturerViewModel.RegisterationViewModel



<!DOCTYPE html>
<style>
    .headerdiv {
        padding-bottom: 0px;
        text-align: center;
        font-size: 10px;
        background-color: #31302a;
    }

    body {
        font-family: Arial;
        margin: auto;
        background-color: #e0ffe9;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Courses</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="text-align: center" class="form-horizontal">
            <div class="headerdiv">
                <img style="padding-bottom=fixed;" src="~/Content/logo_eng.png" />

            </div>
        </div>
        <br />

        <hr />
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.courses1.Courseid)

            <div class="form-group">
                @Html.LabelFor(model => model.courses1.NameCourse, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.courses1.NameCourse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.courses1.NameCourse, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.courses1.LecturerName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.courses1.lecturerID, Model.user12, "Choose Lecurer", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.courses1.LecturerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.courses1.Day, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.courses1.Day, Model.days, "Choose Day", new { htmlAttribute = new { @calss = "form-control" } })
                    @Html.ValidationMessageFor(model => model.courses1.Day, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.courses1.TimeStart, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.courses1.TimeStart, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.courses1.TimeStart, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.courses1.TimeEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.courses1.TimeEnd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.courses1.TimeEnd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.courses1.DateMoedA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.courses1.DateMoedA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.courses1.DateMoedA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.courses1.DateMoedB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.courses1.DateMoedB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.courses1.DateMoedB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back", "Index")
    </div>
</body>
</html>
